// src/assets/styles/_dark.scss
// 当 html 标签有 data-theme="dark" 属性时生效
html[data-theme="dark"] {
  --app-overlay-bg-color: hsla(var(--el-color-primary-hue), 50%, 50%, 0.2);
  // 暗色模式下的对话框背景，不透明度可以稍低一点，比如 0.75
  --app-dialog-bg-color: rgba(44, 44, 44, 0.85);

  --app-input-bg-color: rgba(30, 30, 30, 0.4); // 暗黑模式下也一样

  // 新的值：同样降低透明度，从 0.5 降低到 0.3 或 0.35
  --app-glass-bg-color: rgba(26, 26, 26, 0.35); // 更高的透明度
  // 你也可以微调其他相关的颜色
  --app-glass-text-color: rgba(255, 255, 255, 0.85);
  // 主内容区的背景色
  --app-content-bg-color: rgba(18, 18, 18, 0.45); // 更高的透明度

  // 边框颜色：非常淡的灰色，起到分割作用
  --app-border-color: rgba(255, 255, 255, 0.12);
  // 阴影颜色：几乎不可见的深色阴影，增加层次感
  --app-shadow-color: rgba(0, 0, 0, 0.2);

  // -- 新增滚动条颜色变量 (暗色主题) --
  --scrollbar-track-color: rgba(0, 0, 0, 0.1);
  --scrollbar-thumb-color: rgba(255, 255, 255, 0.2);
  --scrollbar-thumb-hover-color: rgba(255, 255, 255, 0.3);

  --app-bg-overlay-color: rgba(0, 0, 0, 0.35);

  --el-border-color: rgba(255, 255, 255, 0.15); // 暗色模式下用半透明的白色
  --el-border-color-light: rgba(255, 255, 255, 0.1);
  --el-border-color-lighter: rgba(255, 255, 255, 0.07);
}
